<template>
 <div>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/"><img src="../assets/images/logo.png" class="logo" alt="logo"></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav >
      <b-navbar-nav>
        <b-nav-item href="#">SERVICES</b-nav-item>
        <b-nav-item href="#">PROJECTS</b-nav-item>
        <b-nav-item href="#">BLOG</b-nav-item>
        <b-nav-item href="#">CONTACT</b-nav-item>

      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
  export default {

  }
</script>

<style scoped>
nav{
  margin-top: 2em;
}
.logo{
  width: 60px;
  cursor: pointer;
}
.nav-item + .nav-item{
    margin-left: 10px;
}
#nav-collapse{
  justify-content: center;
}
.nav-item{
  padding: 0px 10px 0px 0px;
}
</style>
